/* General App Styling */
.app-container {
  text-align: center;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

/* Hero Section */
.hero {
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

/* Procard Section */
.procard {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
